@media screen and (min-width: 1200px) {
    .container {
       min-width: 1200px;
       margin: 0 auto;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@keyframes Anim1 {
    0% {
      transform: translateY(90px);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
    }
}

@keyframes Anim2 {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-25px);
    }
}

.container {
    font-family: 'Montserrat';
}

.content{
    max-width: 1160px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    user-select: none;
}

.header {
    height: 1012px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), url("../img/Sections background/section-1\(header\).jpg") no-repeat fixed;
    background-size: cover;
}

.header-navbar {
    height: 120px;
    box-sizing: border-box;
    background-color: rgba(94, 93, 88, 0.6);
}

.header-navbar-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.header-navbar-logo {
    margin: 25px 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.logo-letter {
    display: inline-block;
    height: 67px;
    width: 58px;
    box-sizing: border-box;
    padding-top: 13px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    background: url("../img/1header/Polygon\ 1\ 1.svg") no-repeat;
}

.logo-text {
    font-weight: 700;
    color: rgb(24, 207, 171);
}

.header-navbar-menu {
    display: flex;
    margin-right: 70px;
}

.navbar-menu-items {
    padding: 50px 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.navbar-menu-items:hover {
    color: rgb(24, 207, 171);
    border-bottom: 2px solid rgb(24, 207, 171);
}

.header-title {
    margin-top: 264px;
    font-size: 35px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}

.header-title span {
    color:rgb(24, 207, 171);
}

.slogan {
    margin-top: 22px;
    font-size: 78px;
}

.header-title-subslogan {
    margin-top: 22px;
    font-size: 34px;
    font-weight: 400;
    color:rgba(212, 212, 212);
    text-align: center;
}

.header-buttons {
    margin-top: 129px;
    text-align: center;
}

.header-buttons button, .purchase button  {
    width: 169px;
    margin: 0 16px;
    padding: 26px 0;
    background-color: rgb(24, 207, 171);
    border: none;
    border-top: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-buttons button:hover {
    background-color: rgb(0, 203, 246);
    cursor: pointer;
}

.options {
    margin-top: 8px;
    display: flex;
    text-align: center;
}

.options-items {
    flex: 1 1 100px;
    padding: 95px 0px;
    background-color: rgb(28, 42, 51);
    font-weight: 700;
    font-size: 20px;
    color: rgb(24, 207, 171);
    text-transform: uppercase;
}

.options-items:nth-child(2n) {
    padding: 105px 0px;
    background-color: rgb(24, 207, 171);
    color: rgb(255, 255, 255);
}

.options-items img {
    height: 100px;
}


.options-items h3 {
    margin-top: 47px;

}

.options-items:nth-child(2n) h3 {
    margin-top: 37px;

}

.blockheader {
    margin-top: 85px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    color: rgb(78, 78, 78);
}

.blockheader:after {
    margin: 26px auto;
    content: '';
    display: block;
    width: 75px;
    height: 2px;
    border-top: 1px solid rgb(24, 207, 171);
    border-bottom: 1px solid rgb(24, 207, 171);
    transform: skewX(75deg);
}

.services-title {
    margin-top: 69px;
    display: flex;
}

.services-title-items {

    width: 194px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 252, 254);
    border: 1px solid rgb(242, 242, 242);
    color: #717171;
    font-size: 16px;
    
}

.services-title-items:hover {
    border: 1.5px solid rgb(24, 207, 171);
    cursor: pointer;

}

.services-active {
    position: relative;
    background-color: rgb(24, 207, 171);
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(24, 207, 171);
}

.services-active:after {
    content: '';
    position: absolute;
    top: calc(100% - 10px);
    left: calc(50% -10px);
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgb(24, 207, 171);
    transform: rotate(45deg);
}

.services-content {
    margin-top: 23px;
    display: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.7px;
} 

.services-content img {
    width: 192px;
    margin-right: 15px;
}

.purchase {
    height: 476px;
    margin-top: 90px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.8)), url("../img/Sections background/section-2.jpg") no-repeat center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

.purchase-title {
    margin-top: 127px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18cfab;
}

.purchase-subtitle {
    margin-top: 12px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(216, 216, 216);
}

.purchase button {
    margin-top: 67px;
}

 
.works {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: rgb(233, 237, 239);
}

.works-title {
    display: flex;
    justify-content: center;
}

.works-title-items {
    padding: 12px 24px;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(113, 113, 113);
    line-height: 42px;
}
  
.works-title-items:hover {
    border: 2px solid rgb(24, 207, 171);
    color: rgb(24, 207, 171);
    cursor: pointer;
}

.tabs:nth-child(2) {
    margin-bottom: 70px;
}
  
.works-img-container {
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.our-work-img-container img {
    display: block;
}
  
.flip-card {
    width: 284px;
    height: 206px;
    perspective: 1000px;
    background-color: transparent;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: rgb(233, 237, 239);
    color: rgb(0, 0, 0);
}
  
.flip-card-back {
    color: rgb(138, 138, 138);
    background-color: rgb(233, 237, 239);
    transform: rotateY(180deg);
}
  
.flip-card-back-img-container {
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
  
.flip-card-back-img-container::after {
    content: '';
    position: absolute;
    width: 284px;
    top: 0;
    height: 2.5px;
    background-color: rgb(24, 207, 171);
}
  
.flip-card-back-img-container img {
    cursor: pointer;
}
  
.flip-card-back-img-container img:nth-child(1) {
    margin-right: 5px;
}
  
.flip-card-back p {
   color: rgb(24, 207, 171);
   font-weight: 700;
   line-height: 25px;
}

.flip-card-back h1 {
    font-weight: 300;
    line-height: 25px;
    color: rgb(138, 138, 138);
 }
  
.load-more-btn {
    margin-left: auto;
    margin-right: auto;
    padding: 22px 20px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(24, 207, 171);
}
  
.load-more-btn span {
    font-weight: 700;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
  
.load-more-btn-hidden {
    display: none;
}
  
.load-more-btn-icon {
    margin-right: 15px;
    color: #ffffff;
}
  
.active-sort-tab {
    border: 2px solid rgb(24, 207, 171);
    color: rgb(24, 207, 171);
}
  
.news_wrapper {
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 35px;
    font-family: 'Montserrat';
    background-color: none;
}

.news_item {
    position: relative;
}

.news_item img {
    width: 100%;
    display: block;
}

.news_item_date {
    width: 70px;
    height: 68px;
    position: absolute;
    padding: 14px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgb(32, 62, 56);
    box-sizing: border-box;
    font-size: 16px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;

}

.news_item_article {
    color: rgb(113, 113, 113);
}

.news_item_article h3 {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
}

.news_item_article span {
    padding-left: 20px;
    font-weight: 300;
    color: rgba(119, 119, 119, 1);

}

.news_item:hover .news_item_date {
    background-color: rgb(24, 207, 171);
}

.news_item:hover h3 {
    color: rgb(24, 207, 171);
}

.feedback {
    margin-top: 128px;
    height: 900px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../img/sections background/section-3.jpg") no-repeat center;
    background-size: cover;

}

.about-the-ham-client-feedback .blockheader {
    padding-top: 98px;
    color: rgba(255, 255, 255);

}
 
.about-the-ham-client-feedback {
    text-align: center;
}
  
.about-the-ham-client-feedback img {
    margin-top: 38px;

}

.about-the-ham-reviewer-name {
    margin-top: 37px;
}

.swiper-slide-container {
    height: 400px;
}
  
.swiper-slide {
    display: none;
}
  
.swiper-slide-active {
    position: relative;
    animation: Anim1 0.5s ease 0s 1 normal forwards;
    display: block;
}
  
.swiper-icon-active {
    animation: Anim2 0.5s ease 0s 1 normal forwards;
}
  
.bullet-icons-items {
    transition-duration: 1s;
}

.bullet-icons-container{
    display: flex;
    justify-content: center;
}
  
.bullet-icons-item {
    /* display: inline-block; */
    width: 60px;
    height: 55px;
    margin: 0 10px;
    padding-bottom: 50px;
}

.bullet-icons-item:hover {
    cursor: pointer;
}
  
.dynamic-items-wrapper {
    position: relative;
}
  
.swiper-button-right {
    z-index: 1;
    position: absolute;
    bottom: 55px;
    right: 500px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    padding: 8px 10px;
    border: 1px solid rgb(187, 187, 187);
    background-position: center;
    background-image: url(../img/5persons/icons/swap-right.svg);
}
  
.swiper-button-left {
    z-index: 1;
    position: absolute;
    bottom: 55px;
    left: 500px;
    width: 10px;
    height: 15px;
    background-repeat: no-repeat;
    padding: 8px 10px;
    border: 1px solid rgb(187, 187, 187);
    background-position: center;
    background-image: url(../img/5persons/icons/swap-left.svg);
}
  
.swiper-button-left:hover {
    border: 1px solid rgb(24, 207, 171);
    cursor: pointer;
    background-color: rgb(24, 207, 171);
    background-image: url(../img/5persons/icons/swap-left-hover.svg);
}
  
.swiper-button-right:hover {
    border: 1px solid rgb(24, 207, 171);
    cursor: pointer;
    background-color: rgb(24, 207, 171);
    background-image: url(../img/5persons/icons/swap-right-hover.svg);
}
  
.about-the-ham-text-describe {
    margin-top: 36px;
    color: rgb(187, 187, 187);
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    font-family: 'Montserrat';

}
  
.about-the-ham-reviewer-name {
    color: rgb(24, 207, 171);
    font-weight: 700;
    line-height: 27px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
  
.about-the-ham-position {
    color: rgb(187, 187, 187);
    font-weight: 300;
    font-size: 13px;
    font-family: 'Montserrat';
    line-height: 27px;
}

.gallery {
    margin: 13px auto;
}

.grid-item { 
    width: 200px; 
}

.grid-item--width2 { 
    width: 400px; 
}

.gallery .button_wrapper {
    padding-bottom: 0;
}

.footer {
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: rgb(174, 174, 174);
    background-color: rgb(34, 53, 63);
}

.footer a {
    color: rgb(24, 207, 171);
}